html {
  /* 
    The container on which the scroll is activated must not have "overflow: auto;".
    https://paol-imi.github.io/muuri-react/#/usage/responsive-style
  */
  overflow-y: scroll;
}

/* Grid */

.grid {
  max-width: 1000px;
}
.item {
  display: none;
  z-index: 1;
  cursor: pointer;
}
.item.muuri-item-positioning {
  z-index: 2;
}
.item.muuri-item-dragging,
.item.muuri-item-releasing {
  z-index: 3;
}
.item.muuri-item-dragging {
  cursor: move;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item.h2 {
  height: 220px;
  line-height: 220px;
}
.item.w2 {
  width: 220px;
}
.item-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 24px;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid;
  border-radius: 4px;
}
.item.green .item-content {
  color: #2ac06d;
}
.item.blue .item-content {
  color: #4a9ff9;
}

/* main.css */
/* Base */

html body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 20px;
  color: #6e6e6e;
}

/* Sections */

section {
  margin: 60px auto;
  padding-top: 0;
  max-width: 1000px;
  border-top: 2px solid #e5e5e5;
  text-align: left;
}
section.demo {
  margin-top: 30px;
}
section h4 {
  margin: 30px 0 15px 0;
  font-weight: 500;
  font-size: 20px;
  color: #3e3e3e;
}
@media (max-width: 600px) {
  section.demo {
    border-top: 0;
  }
}

/* Section titles */

.section-title {
  color: #3e3e3e;
  font-size: 26px;
  font-weight: 700;
  margin: 40px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}
.section-title > span {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.section-title > span:after {
  content: "";
  display: block;
  position: absolute;
  left: 10px;
  bottom: 0;
  right: 10px;
  height: 2px;
  background: #3e3e3e;
}
