* {
  box-sizing: border-box;
}

section {
  position: relative;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 20px;
  color: #6e6e6e;
  margin: 0px auto;
  padding-top: 0;
  max-width: 1000px;
  border-top: 2px solid transparent;
  text-align: left;
}

section.demo {
  margin-top: 30px;
}

section h4 {
  margin: 30px 0 15px 0;
  font-weight: 500;
  font-size: 20px;
  color: #3e3e3e;
}

@media (max-width: 600px) {
  section.demo {
    border-top: 0;
  }
}

.section-title {
  color: #3e3e3e;
  font-size: 26px;
  font-weight: 700;
  margin: 30px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.section-title>span {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.section-title>span:after {
  content: "";
  display: block;
  position: absolute;
  left: 10px;
  bottom: 0;
  right: 10px;
  height: 2px;
  background: #3e3e3e;
}

/* Item style */

.muuri-item {
  display: none;
  z-index: 1;
  padding-top: 30%;
}

.item-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
}

.content-header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
  
  transition: 0.2s;
}

.column-item .item-content{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-style: solid;
  border-width: 1.3px;
}

.column-item .content-header{
  border: 0;
  border-style: solid;
  border-bottom-width: 1px;
  height: 18px;
}

.dashboard-item .item-content{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-style: solid;
  border-width: 2px;
}

.dashboard-item .content-header{
  border: 0;
  border-style: solid;
  border-bottom-width: 2px;
  height: 25px;
}

.item-content.blue {
  border-color: #4088d5;
}

.item-content.blue .content-header {
  background: #4a9ff9;
  border-bottom-color: #4088d5;
}

.item-content.orange {
  border-color:  #d98140;
}

.item-content.orange .content-header {
  background: #f9944a;
  border-bottom-color:  #d98140;
}

.item-content.green {
  border-color:  #22a45c;
}

.item-content.green .content-header {
  background: #2ac06d;
  border-bottom-color: #22a45c;
}

/* Item-event style */

.muuri-item-positioning {
  z-index: 2;
}

.muuri-item-dragging,
.muuri-item-releasing {
  z-index: 3;
}

.muuri-item-dragging {
  cursor: move;
}

.muuri-item-hidden {
  z-index: 0;
}

.muuri-item-placeholder {
  z-index: 2;
  margin: 0;
  opacity: 0.5;
}

/* Containers style */

.muuri {
  min-height: 100%;
}

.main {
  display: grid;
  grid-template-columns: 15% 85%;
  max-width: 1000px;
  min-width: 600px;
  margin: auto;
  position: relative;
  height: 500px;
}

.column {
  background: #ececec;
  padding-top: 10px;
  border: 3px solid #ddd;
  border-right: 0;
  overflow-y: scroll;
  overflow-x: none;
}

.dashboard {
  padding: 10px;
  border: 2px solid #ddd;
  overflow-y: scroll;
  overflow-x: none;
}


/* Scrollbar style */

::-webkit-scrollbar {
  width: 7px;
  background-color: #ececec;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bbb;
}